@import "bourbon";
@import "neat";


//font variables
$serif: 'museo-slab', serif;
$sans: 'brandon-grotesque', sans-serif;


// color variables
$primary: #085078;
$secondary: #85D8CE;
$body: #474747;
$white: #f7f7f7;
$black: #2B2B2B;

// functions 

// h1-6 headings
@function headings($from:1, $to:6) {
    @if $from == $to {
        @return 'h#{$from}';
    } @else {
        @return 'h#{$from},' + headings($from+1, $to);
    }
}

// scss


body {
  font-family: $sans;
  margin: 0px;
  color: $body;
}

a {
  color: #00B7FF;
}

// scss for headings
#{headings(1,6)} {
  font-family: $sans;
  color: $black;
}

// neat

header {
  h1 {
    float: left;
  }

  .source {
    float: right;
  }
}

section {
  @include outer-container;
  text-align: center;
  margin-bottom: 3em;

  & > code, code.block {
    display: block;
  }

  div {
    text-align: left;
    padding: 1em;
  }

  &.zero {
    div {
      @include span-columns(6);
      height: 20em;
    }
  }

  &.first {
    div#alpha {
      @include span-columns(1);
    }

    div#beta {
      @include span-columns(11);
    }

    div#gamma {
      @include span-columns(2);
    }

    div#delta {
      @include span-columns(10);
    }

    div#epsilon {
      @include span-columns(3);
    }

    div#zeta {
      @include span-columns(9);
    }

    div#eta {
      @include span-columns(4);
    }

    div#theta {
      @include span-columns(8);
    }

    div#iota {
      @include span-columns(5);
    }

    div#kappa {
      @include span-columns(7);
    }

    div#lambda {
      @include span-columns(6);
    }

    div#mu {
      @include span-columns(6);
    }

    div#beta, div#delta, div#zeta, div#theta, div#kappa, div#mu {
      @include omega;
    }
  }

  &.second {
    div {
      height: 20em;

      &#alpha {
        @include span-columns(4);
      }

      &#beta {
        padding: 0;
        text-align: center;
        @include span-columns(8);

        aside {
          @include span-columns(4 of 8);
          border: none;
          height: 84%;
          padding: 1em;
        }

        article {
          @include span-columns(4 of 8);
          height: 84%;
          padding: 1em;
        }
      }
    }
  }

  &.third {
    div#dummy {
      border-bottom: 0;
      height: 5.5em;
      text-align: center;
    }

    div#alpha {
      @include fill-parent();
      @include row(table);
      margin-bottom: 0;
      padding: 0;

      aside {
        @include span-columns(4);
        @include pad();
        border-right: 1px solid rgba(255,255,255, 0.5);
      }

      article {
        height: 20em;
        @include span-columns(8);
        @include reset-display;
        @include pad();
      }
    }
  }

  &.fourth {
    div.one-column {
      @include span-columns(1);

      &.last {
        @include omega();
      }
    }

    div#alpha {
      @include span-columns(6);
      @include shift(3);
      height: 20em;
      text-align: center;
    }
  }

  &.fifth {
    div.box {
      font-size: 0.78em;
      height: 8em;
      // margin-top: 2em;
      @include span-columns(3);
      @include omega(4n);
    }
  }
}

div.code {
  @include outer-container();
  padding:0.5em;
  text-align: center;
}

// HERO

.hero {  
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $large-screen: em(860) !default;
  $hero-background-top: #7F99BE; 
  $hero-background-bottom: #20392B;
  $hero-color: white;
  $gradient-angle: 10deg;
  $hero-image: 'https:
//raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png';

  @include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
  background-color: #324766;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3em;

  .hero-logo img {
    height: 4em;
    margin-bottom: 1em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    margin: auto;
    padding: 3.5em;
    text-align: center;

    .hero-copy {
      text-align: center;
      
      h1 {
        color: $hero-color;
        font-size: 1.6em;
        margin-bottom: 0.5em;

        @include media($large-screen) {
          font-size: 1.8em;
        }
      }

      p {
        color: $hero-color;
        line-height: 1.4em;
        margin: 0 auto 3em auto; 

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 40%;
        }
      }
    }
  }
}

.project {  
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $large-screen: em(860) !default;
  $hero-background-top: #ffffff; 
  $hero-background-bottom: #f7f7f7;
  $project-color: $body;
  $gradient-angle: 10deg;

  @include linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top);
  background-color: #324766;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3em;

  .project-logo img {
    height: 4em;
    margin-bottom: 1em;
    text-align: center;
  }

  .project-inner {
    @include outer-container;
    @include clearfix;
    $mobile: new-breakpoint(max-width 500px 4);
    margin: auto;
    padding: 2em;
    text-align: left;

    .project-copy {
      text-align: left;
      
      h1 {
        color: $project-color;
        font-size: 1.6em;
        margin-bottom: 0.5em;

        @include media($large-screen) {
          font-size: 1.8em;
        }
      h3 {
        color: $project-color;
        font-size: 1.6em;
        margin-bottom: 0.5em;

        @include media($large-screen) {
          font-size: 1.8em;
        }
      }
      }
      p {
        color: $project-color;
        line-height: 1.4em;
        @include media($large-screen) {
          font-size: 1em;
          max-width: 90%;
        }
      }
    }
    .product-copy.left {
        @include span-columns(6);
        @include media($mobile) {
            @include span-columns(3);
        }
    }
        .product-copy.right {
        @include span-columns(6);
        @include media($mobile) {
            @include span-columns(3);
        }
    }
  }
}



// DYNAMIC HEADER
.image-gradient-dynamic {
  $image-gradient-color-top: white; 
  $transparency-top: 0.6;
  $image-gradient-color-bottom: white; 
  $transparency-bottom: 0.1;
  $vertical-angle: 0deg;
  $image-gradient-color-left: white; 
  $transparency-left: 0.6;
  $image-gradient-color-right: white; 
  $transparency-right: 0.8;
  $horizontal-angle: 90deg;
  
  line-height: 0;
  position: relative;
  height:95vh;
  width: 100%;
  p {
      text-align: center;
  }
  img {
        padding-top: 3em;
        opacity: 0.8;
      }
  
  blue {
      color: $secondary;
        -o-transition: all 1s ease-in;
        -ms-transition: all 1s ease-in;
        -moz-transition: all 1s ease-in;
        -webkit-transition: all 1s ease-in;
        transition: all 1s ease-in;
  }
  
  blue:hover {
      color: $primary;
  }
  
  green {
      color: $primary;
        -o-transition: all .75s ease-in;
        -ms-transition: all .75s ease-in;
        -moz-transition: all .75s ease-in;
        -webkit-transition: all .75s ease-in;
        transition: all .75s ease-in;
  }
  
  green:hover {
      color: $secondary;
  }

  img {
   height: auto;
   left: 15%; 
   position: relative;
   top: 5%;
   width: 75%;
  }

  .copy {
    @include transform(translate(-50%, -50%));
    left: 50%;
    margin: auto;
    position: absolute;
    text-align: center;
    top: 40%;
    z-index: 999;
    
    h1 {
        font-family: $sans;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 2.5em;
        line-height: 1em;
        position: relative;
    }

    p {
      font-family: $serif;
      font-weight: 300;
      font-size: 1em;
      line-height: 1.5em;
      padding: 0em 2em;
      position: relative;
      font-style: italic;
    }
    
    @media(max-width:767px) {
        h1 {
            font-size: 1.5em;
        }
        p {
            font-size: 1em;
        }
    }
  }

  .overlay {
    @include linear-gradient($vertical-angle, transparentize($image-gradient-color-top, $transparency-top), 
      transparentize($image-gradient-color-bottom, $transparency-bottom));
    display: block;
    @include position(absolute, 0px 0px 0px 0px);

    &:after {
      @include linear-gradient($horizontal-angle, transparentize($image-gradient-color-left, $transparency-left), 
        transparentize($image-gradient-color-right, $transparency-right));
      @include position(absolute, 0px 0px 0px 0px);
      content: '';
      display: block;
    }
  }
}

// PARALLAX
$parallax-window-height: 30em;
$parallax-background-height: $parallax-window-height * 2;

.parallax-window {
  max-height: $parallax-window-height;
  overflow: hidden;
  position: relative;
  text-align: left;
  padding-left: 2em;
  width: 100%;
}

.parallax-copy {
  @include outer-container;
}

.parallax-static-content {
  @include span-columns(7);
  color: #9A9A8A;
  padding: 5em 0;
  position: relative;
  z-index: 9;
  
  p {
      color: $white;
  }
}

.parallax-static-content-header {
  @include span-columns(8);
  color: #9A9A8A;
  padding: 8em 0;
  position: relative;
  z-index: 9;
  
  h1 {
      color: $white;
  }
  
  p {
      color: $white;
  }
}

.parallax-background {
  background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png") repeat;
  background-position: top;
  background-size: cover;
  background-color: $primary;
  height: $parallax-background-height;
  left: 0;
  position: absolute;
  top: - $parallax-window-height / 3;
  width: 100%;
}

.parallax-background-banjo {
  background: url("../img/banjo-project-bg.png") repeat;
  background-size: cover;
  background-position: top;
  background-color: $primary;
  height: $parallax-background-height;
  left: 0;
  position: absolute;
  top: - $parallax-window-height / 3;
  width: 100%;
}

// Based on http://codepen.io/skeurentjes/


 // NAVBAR
 
.centered-navigation {
  $base-border-radius: 3px !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $centered-navigation-padding: 1em;
  $centered-navigation-logo-height: 2em;
  $centered-navigation-background: white;
  $centered-navigation-color: transparentize($base-font-color, 0.3);
  $centered-navigation-color-hover: $base-font-color;
  $centered-navigation-height: 60px;
  $centered-navigation-item-padding: 1em;
  $centered-navigation-submenu-padding: 1em;
  $centered-navigation-submenu-width: 12em;
  $centered-navigation-item-nudge: 2.2em;
  $horizontal-bar-mode: $large-screen;

  background-color: $centered-navigation-background;
  border-bottom: 1px solid darken($centered-navigation-background, 6%);
  min-height: $centered-navigation-height;
  width: 100%;
  z-index: 9999;

  
// Mobile view

  .mobile-logo {
    display: inline;
    float: left;
    max-height: $centered-navigation-height;
    padding-left: $centered-navigation-padding;

    img {
      max-height: $centered-navigation-height;
      opacity: .6;
      padding: .8em 0;
    }

    @include media($horizontal-bar-mode) {
      display: none;
    }
  }

  .centered-navigation-mobile-menu {
    color: $centered-navigation-color;
    display: block;
    float: right;
    line-height: $centered-navigation-height;
    margin: 0;
    padding-right: $centered-navigation-submenu-padding;
    text-decoration: none;
    text-transform: uppercase;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:focus,
    &:hover {
      color: $centered-navigation-color-hover;
    }
  }

  
// Nav menu

  .centered-navigation-wrapper {
    @include outer-container;
    @include clearfix;
    position: relative;
    z-index: 999;
  }

  ul.centered-navigation-menu {
    -webkit-transform-style: preserve-3d; 
// stop webkit flicker
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 99999;

    &.show {
      display: block;
    }

    @include media ($horizontal-bar-mode) {
      display: block;
      text-align: center;
    }
  }

  
// The nav items

  .nav-link:first-child {
    @include media($horizontal-bar-mode) {
      margin-left: $centered-navigation-item-nudge;
    }
  }

  ul li.nav-link {
    background: $centered-navigation-background;
    display: block;
    line-height: $centered-navigation-height;
    overflow: hidden;
    padding-right: $centered-navigation-submenu-padding;
    text-align: right;
    width: 100%;
    z-index: 9999;

    a {
      color: $centered-navigation-color;
      display: inline-block;
      outline: none;
      text-decoration: none;

      &:focus,
      &:hover {
        color: $centered-navigation-color-hover;
      }
    }

    @include media($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $centered-navigation-height;

      a {
        padding-right: $centered-navigation-item-padding;
      }
    }
  }

  li.logo.nav-link {
    display: none;
    line-height: 0;

    @include media($large-screen) {
      display: inline;
    }
  }

  .logo img {
    margin-bottom: -$centered-navigation-logo-height / 3;
    max-height: $centered-navigation-logo-height;
    opacity: 0.6;
  }

  
// Sub menus

  li.more.nav-link {
    padding-right: 0;

    @include media($large-screen) {
      padding-right: $centered-navigation-submenu-padding;
    }

    > ul > li:first-child a  {
      padding-top: 1em;
    }

    a {
      margin-right: $centered-navigation-submenu-padding;
    }

    > a {
      padding-right: 0.6em;
    }

    > a:after {
      @include position(absolute, auto -0.4em auto auto);
      color: $centered-navigation-color;
      content: "\25BE";
    }
  }

  li.more {
    overflow: visible;
    padding-right: 0;

    a {
      padding-right: $centered-navigation-submenu-padding;
    }

    > a {
      padding-right: 1.6em;
      position: relative;

      @include media($large-screen) {
        margin-right: $centered-navigation-submenu-padding;
      }

      &:after {
        content: "›";
        font-size: 1.2em;
        position: absolute;
        right: $centered-navigation-submenu-padding / 2;
      }
    }

    &:focus > .submenu,
    &:hover > .submenu {
      display: block;
    }

    @include media($horizontal-bar-mode) {
      padding-right: $centered-navigation-submenu-padding;
      position: relative;
    }
  }

  ul.submenu {
    display: none;
    padding-left: 0;

    @include media($horizontal-bar-mode) {
      left: -$centered-navigation-submenu-padding;
      position: absolute;
      top: 1.5em;
    }

    .submenu {
      @include media($horizontal-bar-mode) {
        left: $centered-navigation-submenu-width - 0.2em;
        top: 0;
      }
    }

    li {
      display: block;
      padding-right: 0;

      @include media($horizontal-bar-mode) {
        line-height: $centered-navigation-height / 1.3;

        &:first-child > a {
          border-top-left-radius: $base-border-radius;
          border-top-right-radius: $base-border-radius;
        }

        &:last-child > a {
          border-bottom-left-radius: $base-border-radius;
          border-bottom-right-radius: $base-border-radius;
          padding-bottom: .7em;
        }
      }

      a {
        background-color: darken($centered-navigation-background, 3%);
        display: inline-block;
        text-align: right;
        text-decoration: none;
        width: 100%;

        @include media($horizontal-bar-mode) {
          background-color: $centered-navigation-background;
          padding-left: $centered-navigation-submenu-padding;
          text-align: left;
          width: $centered-navigation-submenu-width;
        }
      }
    }
  }
}


// GRID ITEMS

@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

.grid-items-lines {
  @include outer-container;
  $base-background-color: white !default;
  $dark-gray: $body !default;
  $light-gray: $white !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $grid-items-background: $base-background-color;
  $grid-item-background: $base-background-color;
  $grid-item-border: 1px solid transparentize($base-font-color, 0.8); 
  $grid-item-columns: 4;
  $grid-item-big-columns: 8;
  $grid-item-color: $base-font-color;
  $grid-item-height: 14em;

  @include clearfix;
  position: relative;
    
  .grid-item {
    @include transition (all 0.2s ease-in-out);
    background: $grid-item-background;
    border-bottom: $grid-item-border;
    border-right: $grid-item-border;
    cursor: pointer;
    float: left;
    height: $grid-item-height;
    overflow: hidden;
    outline: none;
    padding: 2em;
    text-decoration: none;
    width: 100%;

    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }

    &:focus,
    &:hover {
      background: transparentize($grid-item-color, 0.95);
    }
  }

  .grid-item img {
      display: block;
      height: 2.5em;
      margin-bottom: 1.2em;
      opacity: 0.2;
    }

  .grid-item h1 {
      color: $grid-item-color;
      font-size: 1.3em;
      margin-bottom: 0.4em;
    }

  .grid-item p {
      color: transparentize($grid-item-color, 0.4);
      line-height: 1.5em;
      
      @include media($medium-screen) {
        max-width: 70%;
      }
    }

  .grid-item-big {
    @include media($large-screen) {
      @include grid-item-columns($grid-item-big-columns);
    }
    p {
      @include media($medium-screen) {
        max-width: 60%;
      }  
    }
  }

  // this, below, might not be the most beautiful solution but it removes the outer borders by using the background color.
  .bottom-cover {
    background: $grid-items-background;
    bottom: 0px;
    height: 3px;
    position: absolute;
    width: 100%;
  }

  .right-cover {
    background: $grid-items-background;
    height: 100%;
    position: absolute;
    right: 0px;
    width: 4px;
  }
}

// SIDE IMAGE

.side-image {  
  $base-line-height: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $side-image-background-top: white;
  $side-image-background-bottom: white;
  $side-image-content-background: white;
  $side-image-border: 1px solid darken(transparentize($side-image-background-bottom, 0.8), 30%);

  background: $side-image-content-background;

  @include media($large-screen) {
    @include row(table);
  }

  .images-wrapper {
    @include background(url(''), linear-gradient($side-image-background-top, $side-image-background-bottom), no-repeat $side-image-background-top scroll);
    background-color: $side-image-background-top;
    background-size: cover;
    border-bottom: $side-image-border;
    display: block;
    min-height: 12em;
    padding: 3em;

    @include media($large-screen) {
      @include span-columns(4);
      background-position: bottom;
      background-size: cover;
    }
  }

  .side-image-content {
    @include span-columns(12);
    padding: 1em 1em 4em 1em;
    border-bottom: $side-image-border;

    @include media($large-screen) {
      @include span-columns(8);
      padding: 4em 4em 8em 4em;
    }

    h1 {
      margin-bottom: 0.9em;
    }

    h4 {
      background: #BBB;
      color: white;
      display: inline-block;
      font-size: 0.75em;
      margin-bottom: 1.3em;
      padding: 3px 8px;
      text-transform: uppercase;
    }

    p {
      color: $base-font-color;
      line-height: $base-line-height;
      margin-bottom: 3em;
    }
  }

  @include reset-display();
}


// DEVICE 

.device-background {
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $large-screen: em(860) !default;
  $device-padding-vertical: 5em;
  $device-padding-horizontal: 0.4em;
  $device-screen-width: 14em;
  $device-screen-height: 25em;
  $device-background: darken(gray, 40%);
  $device-backside-background: darken($device-background, 10%);
  $device-text-color: white;
  $device-background-top: #162C4C; 
  $device-background-bottom: #0A120D;
  $gradient-angle: 10deg;
  $device-image: 'https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png';
  $device-screen-image: 'https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/cosmin_capitanu_screen.jpg';

  @include background(url($device-image), linear-gradient($gradient-angle, $device-background-bottom, $device-background-top), no-repeat $device-background-top scroll);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 20em;
  width: 100%;

  .device-text {
    padding: 2em;

    @include media($large-screen) {
      float: left;
      max-width: 50%;
      padding: 4em;
    }

    h4 {
      border-bottom: 1px solid transparentize($device-text-color, 0.7);
      color: $device-text-color;
      font-size: 1.5em;
      margin: 0 0 0.5em 0;
      padding-bottom: 0.5em;
    }

    p {
      color: $device-text-color;
      line-height: 1.5em;
      margin-bottom: 1.5em;
    }
  }

  .device {
    display: none;
    position: relative;

    @include media($large-screen) {
      @include transform(
        perspective(800px) 
        translateX(0px) 
        translateY(-100px) 
        translateZ(50px) 
        rotateX(0deg) 
        rotateY(-20deg) 
        rotateZ(-0deg));
      background: $device-background;
      border-radius: 2em;
      box-shadow: 
        1px 0px lighten($device-backside-background, 20%), 
        4px 0px lighten($device-backside-background, 2%),
        7px 0px $device-backside-background,
        10px 0px $device-backside-background,
        13px 0px $device-backside-background;
      display: block;
      float: right;
      margin-bottom: -12em;
      margin-right: 5em;
      padding: $device-padding-vertical 0;
      width: $device-screen-width + (2 * $device-padding-horizontal);
      z-index: 99999;

      .screen {
        @include size($device-screen-width $device-screen-height);
        background-image: url($device-screen-image);
        background-size: cover;
        border-radius: 0.2em;
        box-shadow: inset 0 1px 8px transparentize(black, 0.5);
        margin: auto;
      }
    }
  }
}

// BULLETS & VALUE PROPS

.bullets {
  $base-line-height: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $icon-bullet-size: 3.5em;

  @include display(flex);
  @include flex-wrap(wrap);
  margin-bottom: $base-line-height;
  margin: 1em;
  overflow: auto;
  padding: 0;

  .bullet {
    @include flex-basis(20em);
    @include flex-grow(1);
  }

  .bullet-icon {
    background: $action-color;
    border-radius: 50%;
    float: left;
    height: $icon-bullet-size;
    padding: $icon-bullet-size / 4;
    width: $icon-bullet-size;
  }

  .bullet-icon-1 {
    background: $action-color;
  }

  .bullet-icon-2 {
    background: adjust-hue($action-color, -50%);
  }

  .bullet-icon-3 {
    background: adjust-hue($action-color, -140%);
  }

  .bullet-content {
    margin-left: $icon-bullet-size * 1.4;
    margin-bottom: 2em;
  }

  h2 {
    border-bottom: 1px solid transparentize($base-font-color, 0.8);
    display: inline-block;
    font-size: $icon-bullet-size / 2.5;
    margin: 0 0 ($icon-bullet-size / 6) 0;
    padding-top: $icon-bullet-size / 7;
  }

  li {
    list-style: none;
  }

  p {
    color: $base-font-color;
    line-height: $base-line-height;
  }

  img {
    max-width: 100%;
  }
}



// FOOTER

.footer {
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $footer-background: desaturate(darken($action-color, 20%), 30%);
  $footer-color: white;
  $footer-link-color: transparentize($footer-color, 0.6);
  $footer-disclaimer-color: transparentize($footer-color, 0.6);

  background: $footer-background;
  padding: ($base-spacing * 2) $gutter;
  width: 100%;

  .footer-logo {
    margin-bottom: 2em;
    text-align: center;

    img {
      height: 2em;
    }
  } 

  .footer-links {
    @include display(flex);
    @include justify-content(center);
    @include flex-wrap(wrap);
    margin-bottom: $base-spacing;
  }

  ul {
    @include flex-basis(13em);
    @include flex-shrink(0);
    margin-bottom: $base-spacing * 2;
    padding: 0;
  }

  li {
    line-height: 1.5em;
    list-style: none;
    text-align: center;
  }

  li a {
    color: $footer-link-color;
    text-decoration: none;

    &:focus,
    &:hover {
      color: transparentize($footer-color, 0);
    }
  }

  li h3 {
    color: $footer-color;
    font-size: 1em;
    margin-bottom: 0.4em;
  }  

  hr {
    border: 1px solid transparentize($footer-disclaimer-color, 0.3);
    margin: 0 auto $base-spacing;
    width: 12em;
  }

  p {
    color: $footer-disclaimer-color;
    font-size: 0.9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center;
  }
}

// ICONS
.arrow-container {
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid $primary;
    padding: 8px 10px 12px 10px;
    @include transform(translate(-50%, -50%));
    left: 50%;
    margin: auto;
    position: absolute;
    text-align: center;
    top: 85%;
    z-index: 999;
}
.arrow {
    display:inline-block;
    width:18px;
    height:18px;
    line-height:21px;
    border-top:5px solid $primary;
    border-right:5px solid $primary;
    -ms-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);

}
.arrow-down {
    -ms-transform:rotate(135deg);
    -moz-transform:rotate(135deg);
    -webkit-transform:rotate(135deg);
    transform:rotate(135deg);
}
.arrow-left {
    -ms-transform:rotate(225deg);
    -moz-transform:rotate(225deg);
    -webkit-transform:rotate(225deg);
    transform:rotate(225deg);
}
.arrow-up{
    -ms-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg);
}

scroll {
    display: block;
}

